{% extends 'layout.html' %}


{% block title %}
    Home
{% endblock title %}


{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        
        <tbody>
            {% for dict_item in list1 %}
            <tr>
                <td>{{ dict_item['symbol'] }}</td>
                <td>{{ dict_item['name'] }}</td>
                <td>{{ dict_item['price'] | usd}}</td>
                <td>{{ dict_item['Total_Qty'] }}</td>
                <td>{{ dict_item['total'] | usd }}</td>
            </tr>    
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash | usd }}</td>
            </tr>
            <tfoot>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ grand_total | usd }}</td>
            </tfoot>
        </tbody>

    </table>
{% endblock main %}
    